body {
  margin: 0;
  padding: 0;
  height: 150vh;
  background-image: url('https://rbcdsai.iitm.ac.in/images/carousel2_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size:45px;
  color: hsla(46, 100%, 49%, 0.7);
  font-family:Cambria;
  }
  
p1 {
  color: hsla(0, 85%, 55%, 0.9);
  font-family:Cambria;
  font-size:20px;
  }

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
